// 
// user.scss
// Use this to write your custom SCSS
//

.html {
  font-family: 'Roboto';}

.bg-dark {
  background-color: #5BA3AC !important; }

  .text-dark {
    color: #5BA3AC !important; }