<footer class="py-8 py-md-11 @@classList">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 col-lg-3">
        <a href="@@webRoot/index.html">
          <img src="@@webRoot/assets/img/logo_re_ve_png-200.png" class="footer-brand img-fluid">
        </a>
        <!-- Text -->
        <p class="text-primary mb-2">
        </p>

      </div>
      
      <div class="col-6 col-md-4 col-lg-2">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          offre
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#quoi" class="text-reset">
              Notre service
            </a>
          </li>
          <li class="mb-3">
            <a href="#comment" class="text-reset">
              Notre savoir-faire
            </a>
          </li>
          <li class="mb-3">
            <a href="#qui" class="text-reset">
              Nos partenaires
            </a>
          </li>
          <li>
            <a href="#pourquoi" class="text-reset">
              Notre mission
            </a>
          </li>
        </ul>

      </div>

      <div class="col-6 col-md-4 col-lg-2">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Contact
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-white mb-6 mb-md-8 mb-lg-0">
          <li class="mb-3">
            <a href="#modalSignupHorizontal" data-toggle="modal" class="text-reset">
              Contactez-nous
            </a>
          </li>
          <li class="mb-3">
            <a href="#modalSignupHorizontal" data-toggle="modal" class="text-reset">
              Job
            </a>
          </li>
          <li class="mb-3">
            <a href="#modalSignupHorizontal" data-toggle="modal" class="text-reset">
              Presse
            </a>
          </li>
        </ul>

      </div>
      <div class="col-6 col-md-4 col-lg-2">
        
        <!-- Heading -->
        <h6 class="font-weight-bold text-uppercase text-gray-700">
          Legal
        </h6>

        <!-- List -->
        <ul class="list-unstyled text-white mb-0">
          <li class="mb-3">
            <a href="@@webRoot/mentions.html" class="text-reset">
              Mentions légales
            </a>
          </li>
          <li class="mb-3">
            <a href="@@webRoot/rgpd.html" class="text-reset">
              RGPD
            </a>
          </li>
        </ul>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</footer>