<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Primary Meta Tags -->
<title>@@pageTitle</title>
<meta name="title" content="re-ve : l'auto-partage électrique">
<meta name="description" content="Nous louons des véhicules 100% électrique pour une heure ou quelques mois">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://re-ve.fr/">
<meta property="og:title" content="re-ve : l'auto-partage électrique">
<meta property="og:description" content="Nous louons des véhicules 100% électrique pour une heure ou quelques mois">
<meta property="og:image" content="https://re-ve.fr/assets/img/logo_re_ve_png-200.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://re-ve.fr/">
<meta property="twitter:title" content="re-ve : l'auto-partage électrique">
<meta property="twitter:description" content="Nous louons des véhicules 100% électrique pour une heure ou quelques mois">
<meta property="twitter:image" content="https://re-ve.fr/assets/img/logo_re_ve_png-200.png">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="@@webRoot/node_modules/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/aos/dist/aos.css">
<link rel="stylesheet" href="@@webRoot/node_modules/choices.js/public/assets/styles/choices.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="@@webRoot/node_modules/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="@@webRoot/node_modules/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />
<link rel="shortcut icon" href="./favicon.ico">

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css">
<!-- endbuild -->

<title>@@pageTitle</title>
