<!-- Signup: Horizontal  -->
<div class="modal fade" id="modalSignupHorizontal" tabindex="-1" role="dialog" aria-labelledby="modalSignupHorizontalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="card card-row">
        <div class="row no-gutters">
          <div class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-8.jpg);">

            <!-- Image (placeholder) -->
            <img src="@@webRoot/assets/img/photo-8.jpg" alt="..." class="img-fluid d-md-none invisible">

            <!-- Shape -->
            <div class="shape shape-right shape-fluid-y svg-shim text-white d-none d-md-block">
              @@include("../assets/img/shapes/curves/curve-4.svg")
            </div>

          </div>
          <div class="col-12 col-md-6">
            <div class="card-body">

              <!-- Close -->
              <button type="button" class="modal-close close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>

              <!-- Text -->
              <p class="mb-6 text-center text-muted">
                Nous vous recontacterons dans les plus brefs délais
              </p>

              <!-- Form -->
              <form class="mb-6" action = "https://formsubmit.co/cc819a3e007e2bfeef23a8498f7a9871" method="POST" >
                <input type="hidden" name="_webhook" value="https://script.google.com/macros/s/AKfycby4g7xLPJmaDgaOb5haerbTCAS5gyCmdvNQHizpvxkobHv660uKToVdDA/exec">
                <input type="hidden" name="_subject" value="Nouveau Contact Re-ve"> 
                <input type="hidden" name="_captcha" value="false">
                <input type="hidden" name="_next" value="https://re-ve.github.io/Re-ve-WS/">

                <!-- Email -->
                <div class="form-group">
                  <label class="sr-only" for="modalSignupHorizontalEmail">
                    Votre email
                  </label>
                  <input type="email" name="email" class="form-control" placeholder="Votre email">
                </div>

                <!-- Submit -->
                <button class="btn btn-block btn-primary" type="submit">
                  Merci !
                </button>

              </form>

            </div>
          </div>

        </div> <!-- / .row -->
      </div>
    </div>
  </div>
</div>

